<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Şifre Sıfırlama</title>
</head>
<body>
<h1>Şifre Sıfırlama</h1>
<form th:action="@{/reset-password}" method="post">
    <input type="hidden" name="token" th:value="${token}"/>
    <label for="newPassword">Yeni Şifre:</label>
    <input type="password" name="newPassword" id="newPassword" required/>
    <button type="submit">Şifreyi Sıfırla</button>
</form>
<div th:if="${errorMessage}" th:text="${errorMessage}"></div> <!-- Hata mesajı için -->
</body>
</html>
